.filters {
    display: flex;
}
.single-row.main-row {
    background-color: #eee;
    position: sticky;
    top: 0px;
    z-index: 15;
}
.row-data.single-row:hover {
    background-color: #eaeaea;
}
.single-row {
    // background-color: rgba($color: #000000, $alpha: 0.125);
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 1px;
    border: 1px solid rgba($color: #000000, $alpha: 0.125);
    
    div {
        padding: 5px;
        // border-bottom: 1px solid rgba($color: #000000, $alpha: 0.125);
        
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.first-filter {
    width: 200px;
    margin-right: 15px;
}